html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  background-color: #FAFAFA;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  padding-bottom: 40px;

  line-height: 1;
  text-align: center;

  border-bottom: 1px solid #eeeeee;
}

.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
}

.amount {
  margin-bottom: 20px;

  color: #ffffff;
  line-height: 50px;
  text-align: center;

  background-color: #27AE60;
}

form {
  padding: 0 40px 60px 40px;
}

label {
  display: block;
  width: 100%;

  line-height: 50px;
  text-align: center;

  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

select, input[type="number"], input[type="submit"] {
  display: block;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  line-height: 50px;

  border: 1px solid #dddddd;
}

input[type="submit"] {
  margin-top: 20px;

  color: white;
  text-transform: uppercase;

  background-color: #2096F3;
  border: 0;
}

input[type="submit"]:hover {
  background-color: #1485DD;
}

input[type="submit"]:active {
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.30);
}

.select-menu {
  background: transparent url(https://s3.amazonaws.com/f.cl.ly/items/0a0A2E0i0c2y2M111A3R/select-arrow.png) 96% center no-repeat;
  background-size: 23px 15px;

  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.select-menu select {
  background: transparent;
  border: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.currency {
  margin-top: 20px;

  border-bottom: 1px solid #dddddd;
}

.currency:after {
  content: "";
  display: table;
  clear: both;
}

.currency .select-menu {
  float: left;
  width: 45%;
}

.currency label {
  float: left;
  width: 10%;

  border-left: 0;
  border-right: 0;
}

.currency .select-menu {
  background-position: 90% center;
}
