<div class="container">
  <h1>Currency Converter</h1>
  <form action="/search" method="get">
    <% if answer %>
      <div class="amount"><%= answer %></div>
    <% end %>

    <%= erb :select, locals: { name: :date, collection: dates, selected: params["date"] } %>

    <input type="number" step="any" name="amount" placeholder="Enter amount" value="<%= params["amount"] %>" />

    <div class="currency">
      <%= erb :select, locals: { name: :base, collection: currencies, selected: params["base"] } %>
      <label>to</label>
      <%= erb :select, locals: { name: :counter, collection: currencies, selected: params["counter"] } %>
    </div>

    <input type="submit" value="Convert">
  </form>
</div>
