<div class="select-menu">
  <select name="<%= name %>">
    <% collection.each do |item| %>
      <% if item == selected %>
        <option selected="selected"><%= item %></option>
      <% else %>
        <option><%= item %></option>
      <% end %>
    <% end %>
  </select>
</div>
